* {
  font-family: 'Courier New', Courier, monospace;
}
 
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 4px; 
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1f1e1d26; 
    border-radius: 10px;
  }
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #1f1e1d26 #f1f1f1;
  }
