/* Màu sắc: Vàng ánh kim (#D4AF37), Đen tuyền (#000000), Xám bạc (#C0C0C0) */
// scss

.primary-navbar {
  background-color: rgb(31 41 55 ); 
}

.primary-background {
  background-color: #E0E0E0 !important;
}
.primary-logo,
.primary-title {
  color: #D4AF37 !important;
}

.primary-text-light{
  color: #E0E0E0 ;
}
.primary-btn {
  background-color: #D4AF37 !important;
}
.primary-text {
  color: #4F4F4F !important;
}
.primary-btn-text {
 color: white !important;
}
